ai.onnx;14;Add,AveragePool,BatchNormalization,Concat,Conv,Div,GlobalAveragePool,HardSigmoid,HardSwish,Identity,LayerNormalization,MatMul,Mul,Pow,ReduceMean,Relu,Reshape,Shape,Sigmoid,SimplifiedLayerNormalization,Slice,Softmax,Split,Sqrt,Squeeze,Sub,Transpose,Unsqueeze
com.microsoft;1;FusedMatMul,SkipLayerNormalization,QuickGelu
com.microsoft.nchwc;1;Conv,ReorderInput,AveragePool,ReorderOutput
